$primary-blue: #3d5a80;
$primary-blue-overlay: #3d5a80d0;

$primary-orange: #ee6c4d;
$primary-orange-overlay: #dd6344;
$light-blue: #98c1d9;
$background-light: #e0fbfc;
$background-light-overlay: #e0fbfcd5;
$background-dark: #293241;
$background-overlay: #2932419f;
