@import './utils';
@import './colors';

.choice-page{
    width: 100%;
    height: 100%;
    background: url('../assets/images/basketball_med.jpg') no-repeat center/cover;

    .choice-page-container{
        padding-top: $header-small;
        width: 100%;
        height: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        overflow: hidden;
    
        .title-container{
            height: 25%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            margin: 1rem 0;
            font-size: 2rem;
            padding: 5px 0;
            background-color: $primary-orange;
            max-height: 100px;
            h3{
                font-weight: 800;
                text-transform: uppercase;
            }
        }
        .choice-container{
            width: 90%;
    
            min-height: 400px;
            max-height: 75vh;
            // max-height: px;
            overflow-y: scroll;
            margin-bottom: 1rem;
    
        }
    
        .record-container{
            height: 20%;
            min-height: 100px;

            width: 100%;
    
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
