@import './utils';
@import './colors';

.header-container{
    overflow: hidden;
    width: 100vw;
    height: $header-small;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: $background-overlay;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 100ms ease-in-out;
    .header-dropdown-container{
        height: 35%;
        min-height: 22px;
        width: 15%;
        position: absolute;
        background:$background-overlay;

        top: 20px;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: none;
        background: none;
        cursor: pointer;

        .dropdown{
            width: 50%;
            min-width: 25px;
            max-width: 32px;
            border: 2px solid $primary-orange;
            background: $primary-orange;
            border-radius: 10px;
            transition: all 0.10s;
        }

        &:focus { outline: none; }

        &.active{
            display: flex;
            justify-content: center;
            align-items: center;
            .dropdown:nth-of-type(2n){
                display: none;
            }
            .dropdown:nth-of-type(1n){
                transform: translateY(2px) rotate(45deg);
                -webkit-transform: translateY(2px) rotate(45deg);
                -moz-transform:    translateY(2px) rotate(45deg);
                -ms-transform:     translateY(2px) rotate(45deg);
                -o-transform:      translateY(2px) rotate(45deg);
                border-radius: 15px;

                z-index: 10;
            }
            .dropdown:nth-of-type(3n){
                transform: translateY(-2px) rotate(-45deg);
                -webkit-transform: translateY(-2px) rotate(-45deg);
                -moz-transform:    translateY(-2px) rotate(-45deg);
                -ms-transform:     translateY(-2px) rotate(-45deg);
                -o-transform:      translateY(-2px) rotate(-45deg);
                border-radius: 15px;
            }

            .dropdown{
            }
        }
    }

    
    .header-logo{
        height: 100%;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 250ms ease-in-out;
        
        .link{            
            // padding-left: 5px;
            // max-height: 64px;
            color: $background-light;
            text-decoration: none;
            font-size: 1.25rem;
            &:visited{
                color: $background-light;
            }
            &:hover{
                color: $light-blue;
            }

        }
    }
}