@import './colors';

.line{
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    .line-container{
        height: 100%;
        min-width: 100%;
        max-width: 1200px;
        background-color:$background-light-overlay;


        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow-x: scroll;
        .teams{
            align-self: flex-end;
            width: 25%;
            min-width: 125px;
            max-width: 125px;
            height: 75%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-bottom: 5px;
            p{
                font-size: 0.75rem;
                width: 95%;
                text-transform: uppercase;
                font-weight: 600;
                // padding: 2px 0;
                max-height: 45%;
                overflow-y: auto;
                padding-bottom: 5px;
                &:last-child{
                    padding: 5px 0px 0px;
                    border: none;
                }
            }

            .sep{
                width: 90%;
                height: 1px;
                background-color: $background-overlay;
            }

        }

        .spread-container{
            height: 100%;
            .names{
                width: 100%;

                height: 30%;
                display: flex;
                justify-content: space-around;
                align-items: center;

                h3{
                    min-width: 125px;
                    font-size: 0.95rem;

                    &.selected{
                        color: $primary-orange;
                        font-weight: 700;
                    }
                }
            }

            .data{
                width: 100%;
                height: 67%;
                display: flex;
                justify-content: center;
                align-items: center;
                letter-spacing: 1px;

                .spread{
                    width: 25%;
                    min-width: 125px;
                    height: 100%;
                    border-left: 2px solid $background-overlay;

                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: column;

                    &:last-child{
                        border-right: 2px solid $background-overlay;
                    }
                    p{
                        max-height: 45%;
                        font-size: 1rem;
                        &.selected{
                            color:$primary-orange;
                            font-weight: 700;
                        }
                    }

        

                    &.none{
                        border: none;
                        min-width: 350px;
                        width: 100%;
                        text-transform: uppercase;
                        p{
                            font-size: 1.75rem;
                            color: red;
                            font-weight: 800;
                        }
                    }
                }
            }
        }
    }
}










@media screen and (min-width: 350px){
    .line{
        height: 110px;
        .line-container{
            .teams{
                min-width: 150px;
                max-width: 150px;
                p{
                    font-size: 0.75rem;
                }
            }
    
            .spread-container{
                .names{    
                    h3{
                        min-width: 125px;
                        font-size: 1rem;
                    }
                }
    
                .data{
                    .spread{
                        min-width: 125px;
                        p{
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }
   
}
@media screen and (min-width: 480px){
    .line{
        height: 115px;
        .line-container{
            .teams{
                min-width: 175px;
                max-width: 175px;
                p{
                    font-size: 0.95rem;
                }
            }
    
            .spread-container{
                .names{    
                    h3{
                        min-width: 135px;
                        font-size: 1.1rem;
                    }
                }
    
                .data{
                    .spread{
                        min-width: 135px;
                        p{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 576px){
    .line{
        height: 125px;
        .line-container{
            .teams{
                min-width: 185px;
                max-width: 185px;
                p{
                    font-size: 1.1rem;
                }
            }
    
            .spread-container{
                .names{    
                    h3{
                        min-width: 150px;
                        font-size: 1.3rem;
                    }
                }
    
                .data{
                    .spread{
                        min-width: 150px;
                        p{
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 768px){
    .line{
        height: 135px;
        width: 100%;
        .line-container{
            height: 100%;
            min-width: 100%;
            max-width: 100%;
            .teams{
                min-width: 185px;
                max-width: 185px;
                p{
                    font-size: 1.1rem;
                }
            }
    
            .spread-container{
                .names{    
                    h3{
                        min-width: 150px;
                        font-size: 1.2rem;
                    }
                }
    
                .data{
                    .spread{
                        min-width: 150px;
                        p{
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 992px){
    .line{
        height: 110px;
        width: 100%;
        .line-container{
            height: 100%;
            min-width: 100%;
            max-width: 325px;
            .teams{
                min-width: 150px;
                max-width: 150px;
                p{
                    font-size: 0.85rem;
                }
            }
    
            .spread-container{
                .names{    
                    h3{
                        min-width: 115px;
                        font-size: 1rem;
                    }
                }
    
                .data{
                    .spread{
                        min-width: 115px;
                        p{
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1200px){
    .line{
        height: 115px;
        .line-container{
            .teams{
                min-width: 175px;
                max-width: 175px;
                p{
                    font-size: 0.9rem;
                }
            }
    
            .spread-container{
                .names{    
                    h3{
                        min-width: 105px;
                        font-size: 1rem;
                    }
                }
    
                .data{
                    .spread{
                        min-width: 105px;
                        p{
                            font-size: 1.25rem;
                        }
                    }
                }
            }
        }
    }
}
@media(min-width: 568px) and (max-height: 414px){
    .line{
        height: 110px;
        .line-container{
            .teams{
                min-width: 150px;
                max-width: 150px;
                p{
                    font-size: 0.85rem;
                }
            }
    
            .spread-container{
                .names{    
                    h3{
                        min-width: 115px;
                        font-size: 1rem;
                    }
                }
    
                .data{
                    .spread{
                        min-width: 115px;
                        p{
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}

