@import './utils';
@import './colors';

.update-page{
    width: 100%;
    height: 100%;
    background: url('../assets/images/home_background.jpg') no-repeat center/cover;
    &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 88vh;
        background-color: $background-overlay;
        z-index: 1;
    }
    .container{
        padding-top: $header-small;
        width: 100%;
        height: 88vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        

        .update-container{
            z-index: 5;
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            

            button{
                background: $primary-orange;
                border: none;
                margin-bottom: 10px;
                padding: 5px 15px;
                font-size: 1.5rem;
                color: #fff;
                cursor: pointer;
                border-radius: 10px;

                &:hover{
                    background: $primary-orange-overlay;
                }
            }
        }

        .form{
            margin: 0 auto;
            overflow: auto;
            z-index: 5;
            width: 95%;
            height: 50%;
            // min-height: 400px;
            
            // max-height: px;
            overflow-y: scroll;
            margin-bottom: 1rem;
        }

     
    }
}




@media screen and (min-width: 350px){
    .update-page{
        .container{
    
            .update-container{
                z-index: 5;
                width: 100%;
                height: 20%;
                max-height: 100px;
                
                button{
                    font-size: 1.75rem;
                }
            }
    
            .form{
                height: 55%;
                // min-height: 400px;
            }
    
         
        }
    }
    
}
@media screen and (min-width: 480px){
    .update-page{
        .container{
    
            .form{
                height: 60%;
            }
    
         
        }
    }
}


@media screen and (min-width: 576px){
    .update-page{
        .container{
            padding-top: $header-med;

            .form{
                width: 95%;
                max-width: 95%;
                margin-bottom: 2rem;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 1rem;
                grid-template-rows: auto;
                justify-items: center;
            }
    
         
        }
    }
}
@media screen and (min-width: 768px){

}
@media screen and (min-width: 992px){
    .update-page{
        .container{
            .form{
                grid-template-columns: repeat(3, 1fr);
            }
    
         
        }
    }
}
@media screen and (min-width: 1200px){
    .update-page{
        .container{
            padding-top: $header-large;    
         
        }
    }
}
@media(min-width: 568px) and (max-height: 414px){
    .update-page{
        &::after{
            height: 160vh;
        }
        .update-container{
            height: 160vh;
  
        }
    }
}