@import './utils';
@import './colors';

.update-page{
    width: 100%;
    height: 100%;
    background: url('../assets/images/home_background.jpg') no-repeat center/cover;
    &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 88vh;
        background-color: $background-overlay;
        z-index: 1;
    }
    .container{
        padding-top: $header-small;
        width: 100%;
        height: 88vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        

        .update-container{
            z-index: 5;
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            

            button{
                background: $primary-orange;
                border: none;
                padding: 5px 15px;
                font-size: 2rem;
                color: #fff;
                cursor: pointer;
                border-radius: 10px;

                &:hover{
                    background: $primary-orange-overlay;
                }
            }
        }

        .form{
            width: 100%;
            margin: 0 auto;
            height: 50%;
            overflow: auto;
            z-index: 5;
        }

     
    }
}